#hero-tiny {
  display: none;
}

#hero-big {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


#hero-big .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-big .layer img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 940px) {

  #hero-big {
    display: none;
  }

  #hero-tiny {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "logo logo""data endereco";
    padding-right: 0;
    padding-left: 0;
  }

  #hero-tiny img {
    grid-area: logo;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 130%;
    object-fit: contain;
  }

  #hero-tiny img:nth-child(5) {
    transform: scale(0.6);
    grid-area: data;
  }

  #hero-tiny img:nth-child(6) {
    transform: scale(0.6);
    grid-area: endereco;
  }
}

@media only screen and (max-width: 540px) {

  #hero-tiny img:nth-child(1),
  #hero-tiny img:nth-child(2),
  #hero-tiny img:nth-child(3) {
    display: none;
  }

  #hero-tiny img:nth-child(4) {
    transform: scale(2.5);
  }

  #hero-tiny img:nth-child(5),
  #hero-tiny img:nth-child(6) {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 375px) {

  #hero-tiny img:nth-child(4) {
    transform: scale(3);
  }

  #hero-tiny img:nth-child(5),
  #hero-tiny img:nth-child(6) {
    transform: scale(0.8);
  }
}